@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.signature{
	font-variant: small-caps;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

blockquote[epub|type~="z3998:letter"] header{
	margin-top: 3em;
	margin-bottom: 1em;
	text-align: right;
}

blockquote[epub|type~="z3998:letter"] header p{
	text-indent: 0;
}

blockquote[epub|type~="z3998:letter"] header p[epub|type~="z3998:salutation"]{
	font-style: italic;
}

footer{
	margin-top: 1em;
	text-align: right;
}

blockquote[epub|type~="z3998:letter"] footer p{
	text-indent: 0;
}

blockquote[epub|type~="z3998:letter"] + p{
	text-indent: 0;
}

blockquote[epub|type~="z3998:letter"]{
	margin: 1em 0;
}

p[epub|type~="se:letter.dateline"]{
	text-align: right;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

section[epub|type~="dedication"] p{
	font-variant: small-caps;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: left;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */
